In [85]:
import pandas as pd
import json

In [4]:
# Import dataset
characters_df = pd.read_csv("./dataset/Characters.csv", sep=";")
movie1_df = pd.read_csv("./dataset/Harry Potter 1.csv", sep=";")
movie2_df = pd.read_csv("./dataset/Harry Potter 2.csv", sep=";")
movie3_df = pd.read_csv("./dataset/Harry Potter 3.csv", sep=";")
potions_df = pd.read_csv("./dataset/Potions.csv", sep=";")
other_characters_df = pd.read_csv("./dataset/shortversioncharacters.csv", sep=",")
spells_df = pd.read_csv("./dataset/Spells.csv", sep=";")

In [56]:
movies_df

,Character,Sentence,Movie,CHARACTER,SENTENCE
0,Dumbledore,"I should've known that you would be here, Prof...",Harry Potter and the Sorcerers Stone,NaN,NaN
1,McGonagall,"Good evening, Professor Dumbledore.",Harry Potter and the Sorcerers Stone,NaN,NaN
2,McGonagall,"Are the rumors true, Albus?",Harry Potter and the Sorcerers Stone,NaN,NaN
3,Dumbledore,"I'm afraid so, professor.",Harry Potter and the Sorcerers Stone,NaN,NaN
4,Dumbledore,The good and the bad.,Harry Potter and the Sorcerers Stone,NaN,NaN
...,...,...,...,...,...
1633,NaN,NaN,Harry Potter and the Prisoner of Azkaban,HERMIONE,"How fast is it, Harry?"
1634,NaN,NaN,Harry Potter and the Prisoner of Azkaban,HARRY,Lumos.
1635,NaN,NaN,Harry Potter and the Prisoner of Azkaban,HARRY,I solemnly swear that I am up to no good.
1636,NaN,NaN,Harry Potter and the Prisoner of Azkaban,HARRY,Mischief managed.
1637,NaN,NaN,Harry Potter and the Prisoner of Azkaban,HARRY,Nox.

In [101]:
# Analyze characters
class Character():
    def __init__(self, df):
        self.data = df
        f = open("./resources/character_mapping.json", "r")
        self.character_mapping = json.load(f)
        f.close()
        
    def map(self, character_name):
        # Map similar character to a group
        if self.character_mapping[character_name] != None:
            return self.character_mapping[character_name]
        else:
            return character_name

    def updateCharacterMap(self):
        f = open("./resources/character_mapping.json", "w")
        
        
c = Character(characters_df)
c.map("Dumbledore")

'Dumbledore'

In [79]:
# Movie
movie1_df['Movie'] = 'Harry Potter and the Sorcerers Stone'
movie2_df['Movie'] = 'Harry Potter and the Chamber of Secrets'
movie3_df['Movie'] = 'Harry Potter and the Prisoner of Azkaban'

movies_list = [movie1_df, movie2_df, movie3_df]

class Movie():
    def __init__(self, df: list):
        self.movie_list = df
        self.movies_df = self.combine_movies()

    def combine_movies(self):
        # Combine movies
        for i in self.movie_list:
            i.columns = map(str.title, i.columns)
        
        return pd.concat([movie1_df, movie2_df, movie3_df], ignore_index=False)
        
    def preprocess():
        # Strip the spaces in character to remove identifying the same character twice
        for i,j in df.iterrows():
            j["Character"] = j["Character"].strip()
        return self.df


m = Movie(movies_list)
# print(m.movies_df.count())